{% include 'base.html'%}
{% include 'Navigation.html'%}

{% block content %}
<div class="container" style="margin-top: 50px;">
   <h1 class="text-center" style="margin-top: 50px;" >Contact Us</h1>
    <div class="row mt-5 text-center">
      <div class="col-lg-3">
        <h4><i class="fas fa-phone-square">Contact Us</i></h4>
        <p>06 11 77 65 95</p>
      </div>
      <div class="col-lg-3">
        <h4><i class="fa fa-envelope">Send-email</i></h4>
        <p>RoomMeet-Up@gmail.com</p>
      </div>
      <div class="col-lg-3">
        <h4><i class="fa fa-address-card " aria-hidden="true">Office Adress</i></h4>
        <p>Avenue Mohammed VI N:650 Etage 4 , Tanger 90000</p>
      </div>
      <div class="col-lg-3">
        <h4><i class="fa fa-address-card " aria-hidden="true">Office Time</i></h4><p>24h/24h</p>
      </div>
    </div>
    <div class="row mt-5 text-center">
      <div class="col-lg-12">
        <h4>Follow us on social media:</h4>
        <div class="social-icons">
          <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% include 'Footer.html'%}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
