{% include 'Base.html' %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Meet-Point</a>
    <div class="d-lg-flex flex-lg-row-reverse">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'reserver' %}">Reserver</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Calendar</a>
          </li>
          <li class="nav-item dropdown">
            {% if user.is_authenticated %}
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
